.l-admin {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-areas: "aside header" "aside body" "aside footer";
    grid-template-columns: 21% 1fr;
    grid-template-rows: 60px 1fr 50px;
    background-color: #ecf0f1;
    @media ( max-width: 761px ) {
        grid-template-columns: 50px 1fr;
    }
}
.a-aside {
    grid-area: aside;
    background-color: $azul;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    img {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 13px;
    }
}
.a-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 60px 120px 1fr 60px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    background-color: #FFF;
    img {
        display: inline-block;
        height: 60px;
        padding: 15px;
    }
    select {
        display: flex;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid #FFF;
        font-size: 18px;
        color: #2c3e50;
        height: 58px;
        text-align-last:center;
    }    
}
.a-body {
    grid-area: body;
    
}
.a-footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside__link {
    color: #FFF;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-left: 3px solid transparent;
    transition: all .3s ease-in-out;
    &:hover {
        border-left: 3px solid $laranja;
        background-color: rgba(0, 0, 0, .1);
    }
    img {
        filter: invert(100);
    }
    span {
        @media ( max-width: 761px ) {
            display: none;
        }
    }
    &--gravatar {
        img {
            padding: 0;
            filter: none;
            border-radius: 50px;
            border: 2px solid #EEE;
            box-shadow: 0 0 3px rgba(0, 0, 0, .2);
            $size: 20px;
            width: $size;
            height: $size;
            margin: 10px;
        }
    }
}
.body_box {
    display: block;
    background-color: #FFF;
    margin: 30px;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
}
