<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="shortcut icon" href="./assets/logo/ico.png" type="image/x-icon">
    <script src="./assets/js/index.js" type="module" defer></script>
</head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>

    <template id="login">
        <div class="l-login">
            <div>
                <form action="#/inicio" class="form b-login">
                    <img src="./assets/logo/combopay.svg">
                    <input type="email" placeholder="E-mail" required>
                    <input type="password" placeholder="Senha" required>
                    <button type="submit" class="btn btn--success">ENTRAR</button>
                    <a href="#/recuperar-senha" class="link link--login">esquceu sua senha?</a>
                </form>
            </div>
            <div>
                &copy; 2021 - Digital Combo
            </div>
        </div>
    </template>

    <template id="recuperar_senha">
        <div class="l-login">
            <div>
                <form action="javascript:void(0)" class="form b-login">
                    <img src="./assets/logo/combopay.svg">
                    <input type="email" placeholder="E-mail" required>
                    <button type="submit" class="btn btn--success">Recuperar senha</button>
                    <a href="#/" class="link link--login">Entrar</a>
                </form>
            </div>
            <div>
                &copy; 2021 - Digital Combo
            </div>
        </div>
    </template>

    <template id="c-menu">
        <div>
            <a :href="item.link" v-for="item in lista" class="aside__link">
                <img :src="'./assets/icon/'+item.icon">
                <span>{{ item.text }}</span>
            </a>
        </div>
    </template>

    <template id="c-footer">
        <div class="a-footer">
            <span>&copy; 2021 - Digital Combo </span>
        </div>
    </template>

    <template id="c-header">
        <div class="a-header">
            <div> <img src="./assets/icon/menu.svg"> </div>
            <div> <img src="./assets/logo/combopay.svg"> </div>
            <select id="on-instituicao">
                <option value="" v-for="com in instituicoes">{{ com.text }}</option>
            </select>
            <label for="on-instituicao">
                <img src="./assets/icon/search.svg">
            </label>
        </div>
    </template>

    <template id="c-aside">
        <div class="a-aside">
            <div class="aside__link aside__link--gravatar">
                <img src="./assets/img/gravatar.png">
                <span> Jose Antonio</span>
            </div>
            <c-menu></c-menu>
        </div>
    </template>

    <template id="inicio">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body"></div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-metas">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Metas 2021</h1>
                    <form action="javascript:void(0)" class="form">
                        <div class="g g-4">
                            <div v-for="mes in meses">
                                <label for=""> {{ mes }} </label>
                                <input type="text" placeholder="12.000" class="i-monei">
                            </div>
                            <div>
                                <button type="submit" class="btn btn--success">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-perfil">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Perfil</h1>
                    <form action="javascript:void(0)" class="form">
                        <div>
                            <label for="">Nome</label>
                            <input type="text" required>
                        </div>
                        <div class="g g-2">
                            <div>
                                <label for="">Telefone</label>
                                <input type="text" required>
                            </div>
                            <div>
                                <label for="">email</label>
                                <input type="email" disabled required>
                            </div>
                            <div>
                                <button type="submit" class="btn btn--success">Salvar</button>
                            </div>
                        </div>
                    </form>
                    <div class="space"></div>
                    <h2>Alterar senha</h2>
                    <form action="javascript:void(0)" class="form">
                        <div class="g g-2">
                            <div>
                                <label for="">Digita a senha</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">Repita a senha</label>
                                <input type="text">
                            </div>
                            <div>
                                <button type="submit" class="btn btn--success">alterar senha</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-privacidade">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Política de Privacidade</h1>
                    <form action="javascript:void(0)" class="form">
                        <div class="editor">
                            <span>
                                <img src="./assets/editor/t.svg">
                                <img src="./assets/editor/b.svg">
                                <img src="./assets/editor/i.svg">
                                <img src="./assets/editor/list.svg">
                            </span>
                            <div contenteditable="true">

                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn--success"> Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-config">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Configuração</h1>
                    <form action="javascript:void(0)" class="form">
                        <div>
                            <label for="">Title</label>
                            <input type="text" maxlength="75">
                        </div>
                        <div>
                            <label for="">Descrição Google</label>
                            <textarea rows="3" maxlength="146"></textarea>
                        </div>
                        <div>
                            <label for="">Tags Google</label>
                            <input type="text" maxlength="75">
                        </div>
                        <div>
                            <label for="">Cores</label>
                            <input type="color">
                            <input type="color">
                        </div>
                        <div>
                            <label for="">Logo</label> <br>
                            <img src="./assets/img/default.png" width="75">
                            <img src="./assets/img/default.png" width="32">
                        </div>
                        <div class="space"></div>
                        <div class="g g-3">
                            <button type="submit" class="btn btn--success">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-instituicao">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Instituição</h1>
                    <form action="javascript:void(0)" class="form">
                        <div>
                            <label for="">Nome Fantazia</label>
                            <input type="text">
                        </div>
                        <div class="g g-2">
                            <div>
                                <label for="">Razão Social</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">CPF/CNPJ</label>
                                <input type="text">
                            </div>
                        </div>
                        <div>
                            <label for="">Domínio</label>
                            <input type="radio" name="type_domains" checked> Subdominio
                            <input type="radio" name="type_domains"> Domínio Personalizado
                            <input type="text" placeholder="seusite.com.br">
                        </div>
                        <div class="g g-2">
                            <div>
                                <label for="">Telefone</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">E-mail</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="g g-2">
                            <div>
                                <label for="">CEP</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">Rua/Avenida</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="g g-3">
                            <div>
                                <label for="">Número</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">Complemento</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">Bairro</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">Cidade</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">Estado</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="g g-3">
                            <button type="submit" class="btn btn--success">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>


    <template id="c-script">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1> Codigos </h1>
                    <form action="javascript:void(0)" class="form">
                        <div>
                            <label for="">Header</label>
                            <textarea rows="7"></textarea>
                        </div>
                        <div>
                            <label for="">Start Body</label>
                            <textarea rows="7"></textarea>
                        </div>
                        <div>
                            <label for="">Final Body</label>
                            <textarea rows="7"></textarea>
                        </div>
                        <div class="g g-3">
                            <button type="submit" class="btn btn--success">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-modulos">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box body_box--transparent">
                    <h1>Modulos</h1>
                    <div class="g g-3">
                        <div class="modulo" v-for="modulo in modulos">
                            <img :src="'./assets/logo-modulos/'+modulo.logo">
                            <span>
                                <img src="./assets/icon/gear.svg">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-doadores">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Doadores</h1>
                    <div class="table">
                        <div v-for="doador in doadores">
                            <span><img class="gravatar" src="./assets/img/gravatar.png"></span>
                            <span>{{ doador.name }}</span>
                            <span>{{ doador.email }}</span>
                            <span>{{ doador.tel }}</span>
                            <span>
                                <a href="" class="table_btn" >
                                    <img src="./assets/icon/eye.svg">
                                </a>
                            </span>
                        </div>                        
                    </div>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-doacoes">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Doações</h1>
                    <div class="table">
                        <div v-for="doacao in doacoes">
                            <span><img class="gravatar" src="./assets/img/gravatar.png"></span>
                            <span>{{ doacao.name }}</span>
                            <span>{{ doacao.card }}</span>
                            <span>{{ doacao.valid }}</span>
                            <span>{{ doacao.recorrencia }}</span>
                            <span>{{ doacao.type }}</span>
                            <span>{{ doacao.data }}</span>
                            <span>{{ doacao.price | is_price }}</span>
                            <span>
                                <span v-if="doacao.status">
                                    <img src="./assets/icon/success.svg" class="ico_status">
                                </span>
                                <span v-else>                                    
                                    <img src="./assets/icon/error.svg" class="ico_status">
                                </span>                                
                            </span>
                        </div>                        
                    </div>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>    

    <template id="c-credenciais">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Credenciais</h1>
                    <div class="table">
                        <div v-for="credencial in credenciais">
                            <span>{{ credencial.name }}</span>
                            <span>
                                <i class="tag" v-for="id in credencial.permissao.split(',')">
                                    {{ id | get_name_by_id }}
                                </i>
                            </span>
                        </div>                        
                    </div>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-usuarios">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Usuários</h1>
                    <div class="table">
                        <div v-for="user in usuarios">
                            <span><img class="gravatar" src="./assets/img/gravatar.png"></span>
                            <span>{{ user.name }}</span>
                            <span>{{ user.tel }}</span>
                            <span>{{ user.email }}</span>
                            <span>
                                <a href="" class="table_btn">
                                    <img src="./assets/icon/edit.svg">
                                    <span>EDITAR</span>
                                </a>
                            </span>
                            <span>
                                <a href="" class="table_btn table_btn--trash" title="Para acabar use duplo click">
                                    <img src="./assets/icon/trash.svg">
                                </a>
                            </span>
                        </div>                        
                    </div>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-planos">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Planos</h1>
                    <div class="table">
                        <div v-for="plano in planos">
                            <span>{{ plano.name }}</span>
                            <span>{{ plano.price | is_price }}</span>
                            <span>
                                <a href="" class="table_btn">
                                    <img src="./assets/icon/edit.svg">
                                    <span>EDITAR</span>
                                </a>
                            </span>
                            <span>
                                <a href="" class="table_btn table_btn--trash" title="Para acabar use duplo click">
                                    <img src="./assets/icon/trash.svg">
                                </a>
                            </span>
                        </div>                        
                    </div>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-emails">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Emails</h1>
                    <div class="table">
                        <div v-for="email in emails">
                            <span>{{ email.name }}</span>
                            <span>{{ email.cron  }}</span>
                            <span>
                                <a href="" class="table_btn">
                                    <img src="./assets/icon/edit.svg">
                                    <span>EDITAR</span>
                                </a>
                            </span>
                            <span>
                                <a href="" class="table_btn table_btn--trash" title="Para acabar use duplo click">
                                    <img src="./assets/icon/trash.svg">
                                </a>
                            </span>
                        </div>                        
                    </div>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>
    
    <template id="c-">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>
            <div class="a-body">
                <div class="body_box">
                    <h1>Metas 2021</h1>
                    <form action="javascript:void(0)" class="form">

                    </form>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>



</body>

</html>