<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="shortcut icon" href="./assets/logo/ico.png" type="image/x-icon">
    <script src="./assets/js/index.js" type="module" defer></script>
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
    
    <template id="login">
        <div class="l-login">
            <div>
                <form action="javascript:void(0)" class="form b-login">
                    <img src="./assets/logo/combopay.svg">
                    <input type="email" placeholder="E-mail" required>
                    <input type="password" placeholder="Senha" required>
                    <button type="submit" class="btn btn--success">ENTRAR</button>
                    <a href="#/recuperar-senha" class="link link--login">esquceu sua senha?</a> 
                </form>
            </div>
            <div>
                &copy; 2021 - Digital Combo
            </div>           
        </div>
    </template>

    <template id="recuperar_senha">
        <div class="l-login">
            <div>
                <form action="javascript:void(0)" class="form b-login">
                    <img src="./assets/logo/combopay.svg">
                    <input type="email" placeholder="E-mail" required>
                    <button type="submit" class="btn btn--success">Recuperar senha</button>
                    <a href="#/" class="link link--login">Entrar</a> 
                </form>
            </div>
            <div>
                &copy; 2021 - Digital Combo
            </div>           
        </div>
    </template>

    <template id="c-menu">
        <div>
            <a :href="item.link" v-for="item in lista" class="aside__link" >
                <img :src="'./assets/icon/'+item.icon">
                <span>{{ item.text }}</span>
            </a>
        </div>
    </template>

    <template id="c-footer">
        <div class="a-footer">
            <span>&copy; 2021 - Digital Combo   </span>
        </div>
    </template>

    <template id="c-header">
        <div class="a-header">
            <div> <img src="./assets/icon/menu.svg"> </div>
            <div> <img src="./assets/logo/combopay.svg"> </div>                
            <select id="on-instituicao">
                <option value="" v-for="com in instituicoes">{{ com.text }}</option>
            </select>
            <label for="on-instituicao">
                <img src="./assets/icon/search.svg">
            </label>
        </div>
    </template>

    <template id="c-aside">
        <div class="a-aside">
            <div class="aside__link aside__link--gravatar">
                <img src="./assets/img/gravatar.png">
                <span> Jose Antonio </span>
            </div>
            <c-menu></c-menu>                
        </div>
    </template>

    <template id="inicio">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>           
            <div class="a-body"></div>
            <c-footer></c-footer>
        </div>
    </template>

    <template id="c-metas">
        <div class="l-admin">
            <c-aside></c-aside>
            <c-header></c-header>           
            <div class="a-body">
                <div class="body_box">
                    <h1>Metas 2021</h1>
                    <form action="javascript:void(0)" class="form">
                        <div class="g g-4">
                            <div v-for="mes in meses">
                                <label for=""> {{ mes }} </label>
                                <input type="text" placeholder="12.000" class="i-monei" >
                            </div>
                            <div>
                                <button type="submit" class="btn btn--success">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <c-footer></c-footer>
        </div>
    </template>

</body>
</html>